# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*/__pycache__/

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environments
myenv/

# Data
data/

# Web Material
web_materials/

# Private Key
private_key.py